.navbar-nav{
	background-color: #9a8f97;
	padding : 10px;
	width: 400em;

}
.dropdown-menu{
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #C0C0C0;
}

#home{
	color:#000000;
}
#contact{
	color:#000000;
}

nav{
	background-color:#e3e3e3;	
}


body{
    font-family: sans-serif;
	background-color: #e3e3e3;
}

.jumbotron{
    background-color: #d4a0a7;
}

.photo{
    display: block;
    margin-left: auto;
    margin-right: auto;
  width: 50%;
}

.gallery {
-webkit-column-count: 3;
-moz-column-count: 3;
column-count: 3;
-webkit-column-width: 33%;
-moz-column-width: 33%;
column-width: 33%; }
.gallery .pics {
-webkit-transition: all 350ms ease;
transition: all 350ms ease; }
.gallery .animation {
-webkit-transform: scale(1);
-ms-transform: scale(1);
transform: scale(1); }

@media (max-width: 450px) {
.gallery {
-webkit-column-count: 1;
-moz-column-count: 1;
column-count: 1;
-webkit-column-width: 100%;
-moz-column-width: 100%;
column-width: 100%;
}
}

@media (max-width: 400px) {
.btn.filter {
padding-left: 1.1rem;
padding-right: 1.1rem;
}
}

$(function() {
var selectedClass = "";
$(".filter").click(function(){
selectedClass = $(this).attr("data-rel");
$("#gallery").fadeTo(100, 0.1);
$("#gallery div").not("."+selectedClass).fadeOut().removeClass('animation');
setTimeout(function() {
$("."+selectedClass).fadeIn().addClass('animation');
$("#gallery").fadeTo(300, 1);
}, 300);
});
});
